@import "variables.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $blanco;
}

// Compilador principal - movil first
// ------------------------------------------------------
// sass --watch scss/compilador.scss css/movil.css
// ------------------------------------------------------


// ---CONTENEDOR GENERAL----------------------
.contenedor {
    // border: 3px dashed green;
    height: auto;
    min-height: 100vh;
    overflow: auto;
    /* Aplicar clearfix */

    padding: 5px;
    background: linear-gradient(to bottom, #ff8c00, #d73900);

    //--------------------------------------------
    //     BARRA DE NAVEGACIÓN
    //--------------------------------------------
    .contenedor_nav {
        // border: 2px dashed blue;
        border-bottom: 1px solid $gris_claro;
        background-color: $blanco;
        height: 70px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.483);

        .contenedor_nav_element {
            // border: 1px dashed green;
            margin-left: 15px;
        }

        .nav_element_izq {
            // border: 1px dashed blue;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: 15px;
            text-decoration: none;

            figure {
                // border: 1px dashed orangered;
                margin: 0;

                img {
                    // border: 1px dashed black;
                    width: 50px;
                }
            }

            h2 {
                // border: 1px dashed black;
                color: $negro;
                font-family: helvetica, sans-serif;
                font-size: 12px;
                font-weight: bold;
                letter-spacing: 0pt;
                word-spacing: 0pt;
                line-height: 1;
                margin: 0 0 0 10px;
            }
        }

        .nav_element_der {
            // border: 1px dashed red;
            margin-right: 20px;

            .nav_menu {
                // background-color: rgb(0, 217, 255);
                // border: 1px dashed purple;
                background-color: $blanco;
                border: 1px solid $gris_claro;

                img {
                    width: 30px;
                }
            }
        }

        .offcanvas_contenedor {
            // border: 1px dashed blue;
            width: 70vw;

            .offcanvas-header {
                // background-color: green;
                padding: 10px 15px;

                .titulo_offcanvas {
                    // border: 1px dashed black;
                    color: $gris_claro;
                    font-family: helvetica, sans-serif;
                    font-size: 12px;
                    font-weight: bold;
                    letter-spacing: 0pt;
                    word-spacing: 0pt;
                    line-height: 1;
                    margin: 0 0 0 15px;
                }

                .btn_menu_cerrar {
                    // border: 1px dashed red;
                    border: none;
                    background-color: $blanco;
                    padding: 15px;
                    width: 50px;
                    height: 50px;

                    img {
                        width: 100%;
                    }
                }
            }

            .offcanvas-body {
                // border: 1px dashed brown;
                margin: 0px 20px;
                padding: 0;

                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                .offcanvas-body_accordion {
                    // border: 1px dashed blue;
                    width: 100%;

                    .offcanvas-body_accordion_item {
                        // border: 1px dashed blue;

                        .offcanvas-body_accordion_item_h2 {
                            // border: 1px dashed blue;

                            button {
                                background-color: $blanco;
                                height: 8vh;

                                color: $negro;
                                font-family: helvetica, sans-serif;
                                font-size: 1.6rem;
                                font-weight: bold;
                                letter-spacing: 0pt;
                                word-spacing: 0pt;
                                line-height: 1;
                                margin: 0px;
                            }

                        }

                        .collapse_body {
                            background-color: $gris_claro_suave;
                            height: 20vh;
                            transition: height 0.3s ease;

                            .collapse_body_lista {
                                // border: 1px dashed red;
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-evenly;
                                align-items: flex-start;

                                a {
                                    // border: 1px dashed blue;
                                    width: 100%;
                                    color: $negro;
                                    font-family: helvetica, sans-serif;
                                    font-size: 1.6rem;
                                    font-weight: bold;
                                    letter-spacing: 0pt;
                                    word-spacing: 0pt;
                                    line-height: 1;
                                    margin: 0px;
                                    padding: 15px 0px;
                                    text-decoration: none;
                                }
                            }
                        }

                        .collapse_body_colegio {
                            height: 34vh;
                        }

                        .collapse_body_noticias {
                            height: 14vh;
                        }

                        .collapse_body_legislaciones {
                            height: 27vh;
                        }

                        .collapse_body_simulador {
                            height: 8vh;
                        }

                        .collapse_body_cuenta {
                            height: 15vh;
                        }
                    }
                }
            }
        }

        .nav_element_links {
            // border: 1px dashed blue;
            margin-right: 15px;
            display: none;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;

            // ------------------------------------------
            // BOTON DESPLEGABLE -
            // ------------------------------------------
            .dropdown_contenedor {
                // border: 1px dashed blue;

                // ----BOTON--------------------------
                .dropdown_contenedor_btn {
                    background-color: $blanco;
                    border: none;
                    height: 38px;
                    padding: 5px 15px;
                    font-family: helvetica, sans-serif;
                    text-decoration: none;
                    color: $negro;
                    font-size: 1.6rem;
                    font-weight: bold;
                }

                .dropdown_contenedor_btn:hover {
                    background-color: $rosa_links;
                }

                // ----DESPLEGABLE--------------------
                .dropdown_contenedor_menu {
                    // border: 1px dashed blue;
                    width: 123px;

                    // -----LINKS---------------------
                    .dropdown_contenedor_menu_link {
                        font-family: helvetica, sans-serif;
                        text-decoration: none;
                        color: $negro;
                        font-size: 1.4rem;
                        font-weight: bold;
                        padding: 10px 0px 10px 14px;
                    }

                    .dropdown_contenedor_menu_link:hover {
                        background-color: $rosa_links;
                    }
                }

                .dropdown_contenedor_menu-colegio {
                    width: 187px;
                }
            }


            // ------------------------------------------
            // BOTON SIMULADOR
            // ------------------------------------------
            .nav_element_links_a {
                // background-color: rgba(128, 0, 113, 0.227);
                // border: 1px dashed brown;
                border-radius: 4px;
                height: 35px;
                padding: 10px;
                margin: 0px 0px 0px 7px;

                font-family: helvetica, sans-serif;
                text-decoration: none;
                color: $negro;
                font-size: 1.4rem;
                font-weight: bold;

                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }

            .nav_element_links_a:hover {
                background-color: $rosa_links;
                transition: background-color 0.3s;
            }
        }
    }

    //--------------------------------------------
    //     BODY CONTENEDOR
    //--------------------------------------------

    .cuerpo {
        // border: 3px dashed blue;
        background-color: $blanco_oscuro;
        height: auto;
        // Altura del vewport menos barra de nav y footer
        min-height: calc(100vh - 120px);
        overflow: auto;
        /* Aplicar clearfix */

        .cuerpo_elementos {
            // border: 2px dashed black;
            height: calc(100vh - 70px);

            .cuerpo_elementos_logo {
                // border: 2px dashed blue;
                height: 45%;
                background-image: url(../img/planos01.jpg);
                background-size: cover;
                /* Esto ajustará la imagen al tamaño del contenedor sin deformarla */
                background-repeat: no-repeat;
                opacity: 0.7;
                position: relative;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h1 {
                    font-family: helvetica, sans-serif;
                    color: $rojo;
                    font-size: 2.8rem;
                    font-weight: bold;
                    text-align: center;
                }
            }

            .cuerpo_elementos_logo::before {
                content: "";
                position: absolute;
                z-index: -1;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                backdrop-filter: blur(1px);
                background: linear-gradient($gris_claro_suave, $blanco_transparente);
            }

            .cuerpo_elementos_cuadro {
                // border: 2px dashed blueviolet;
                height: 55%;

                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: flex-start;

                .cuerpo_elementos_cuadro_items {
                    // border: 2px dashed blue;
                    width: 14rem;
                    height: 10rem;
                    margin: 10px;
                    text-decoration: none;

                    background-color: $blanco;
                    max-width: 16rem;
                    box-shadow: 1px 2px 9px $negro_sombra;

                    #home-items {
                        // border: 2px dashed red;
                        height: 100%;

                        .home-items-titulo {
                            // border: 1px dashed blue;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            h5 {
                                font-family: helvetica, sans-serif;
                                color: $negro;
                                font-size: 1.4rem;
                                font-weight: bold;
                                text-align: center;
                            }
                        }
                    }

                }
            }

            .iframe-contenedor {
                // border: 1px dashed blue;
                height: 100%;
                width: 100%;

                .iframe-contenedor_iframe {
                    width: 100%;
                    height: 100%;
                }
            }

            .titulo_prueba {
                // border: 1px dashed blue;
                display: none;
            }

        }

        // ----SECCION CONTENEDOR DE TARJETAS--------
        .cuerpo_seccion {
            // border: 3px dashed black;
            height: auto;
            padding-bottom: 10px;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            // -----TITULO DE LA SECCION-----------
            .cuerpo_seccion_titulo {
                // border: 1px dashed blue;
                height: 10vh;
                width: 100%;
                margin-top: 10px;

                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                h2 {
                    // border: 1px dashed red;
                    margin: 0;
                    font-family: helvetica, sans-serif;
                    color: $rojo;
                    font-size: 2.5rem;
                    font-weight: bold;
                }
            }

            // -----CONTENEDOR DE LAS TARJETAS-----------
            .cuerpo_seccion_cont {
                // border: 1px dashed red;
                width: 100%;

                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-evenly;

                // -----TARJETA ---------------------
                .cuerpo_seccion_cont_a {
                    text-decoration: none;

                    .cuerpo_seccion_cont_a_card {
                        background-color: $blanco;
                        max-width: 16rem;
                        height: 16rem;
                        margin: 8px;
                        box-shadow: 1px 2px 9px $negro_sombra;
                    }
                }
            }

            // --------------------------------------
            // -----TARJETAS DE COMISIONES-----------
            // --------------------------------------

            #comisiones-contenedor {
                // border: 1px dashed red;
                height: 220px;

                #comisiones-contenedor-tarjeta {
                    // border: 1px dashed blue;
                    height: 92%;
                }
            }

            #comisiones-titulo {
                font-family: helvetica, sans-serif;
                color: $negro;
                font-size: 1.2rem;
                font-weight: bold;
                line-height: 1.2;
                padding: 12px;
                height: 70px;
                // border-bottom: none;
            }

            #comisiones-body {
                // border: 1px dashed red;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                #comisiones-body-txt {
                    // border: 1px dashed blue;
                    font-family: helvetica, sans-serif;
                    color: $negro;
                    font-size: 1.2rem;
                    line-height: 1.2;
                }
            }



            // -----CONTENEDOR DE PARRAFOS-----------
            .cuerpo_seccion_parrafos {
                // border: 2px dashed blue;
                width: 100%;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .parrafo_1 {
                    // border: 2px dashed red;
                    margin-bottom: 20px;
                    width: 95%;

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    // -----TARJETA CON PARRAFOS------------

                    .parrafo_1_titulo {
                        border: 1px solid $gris_claro_suave;
                        border-radius: 5px;
                        background-color: $blanco;
                        padding: 10px;
                        width: 80%;
                        text-align: center;
                        margin: 10px 0px;
                        box-shadow: 1px 2px 9px $negro_sombra;

                        font-family: helvetica, sans-serif;
                        color: $negro;
                        font-size: 1.3rem;
                        font-weight: bold;
                    }

                    .parrafo_1_txt {
                        // border: 1px solid black;
                        margin: 5px 10px;
                        padding: 10px;

                        font-family: helvetica, sans-serif;
                        color: $negro;
                        font-size: 1.3rem;
                        text-align: justify;
                    }

                }
            }

        }

    }

    .cuerpo_footer {
        background: linear-gradient(to bottom, #ca1b00, #aa0600);
        height: 50px;
    }


}