//--------------------------------------------
//    PALETA DE COLORES
//--------------------------------------------

$blanco: rgb(255, 255, 255);
$blanco_oscuro:rgb(232, 232, 232);
$blanco_transparente:rgba(232, 232, 232, 0.811);
$negro:rgb(29, 28, 28);
$negro_sombra:rgba(29, 28, 28, 0.192);

$gris_claro: rgb(199, 199, 199);
$gris_claro_suave: rgba(175, 175, 175, 0.402);
$rosa_links: rgba(255, 0, 72, 0.268);
$rojo: #da1b1b;

//--------------------------------------------
//    fUENTES
//--------------------------------------------

$parrafos: 'Cairo', sans-serif;
$titulos: 'Bebas Neue', cursive;

$titulo_size: 80px;
$subtitulo_size: 20px;
$parrafo_size: 16px;